@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXooxW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1y4n.ttf) format('truetype');
}
/*  Specimen
      font-family: 'Bebas Neue', cursive;
      font-family: 'Open Sans', sans-serif; */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
image {
  margin: 0;
  padding: 0;
}
h1 {
  font: 60px 'Bebas Neue', cursive;
  letter-spacing: 5.7px;
  font-weight: normal;
}
h2 {
  font: bold 18px/25px 'Open Sans', sans-serif;
  letter-spacing: 2.3px;
  color: #48555B;
  margin-bottom: 0;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
.button_blue {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  max-width: 150px;
  height: 40px;
  background-color: #00A4E5;
  text-decoration: none;
  color: white;
  font: bold 13px/0.5px 'Open Sans', sans-serif;
  border: 0;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.button_blue:hover {
  transition: all 0.1s ease-in;
  background-color: rgba(0, 164, 229, 0.6);
}
.header_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background: url(../img/header.png) center no-repeat;
  min-height: 769px;
  text-align: center;
  color: #FFFFFF;
}
.header_container img {
  margin-top: 38px;
}
.header_name * {
  margin: 0;
  padding: 0;
}
.header_name {
  padding-top: 70px;
}
.header_name p {
  font: normal 600 16px 'Open Sans', sans-serif;
}
.header_container span {
  font: normal 600 11px 'Open Sans', sans-serif;
  letter-spacing: 3.7px;
  margin-bottom: 70px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header_container span a {
  text-decoration: none;
  color: white;
}
@media (min-width: 481px) {
  .nav_container {
    min-height: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .nav_container div:first-child {
    display: inline-block;
    padding-top: 8px;
  }
  .nav_container div:last-child a {
    display: inline-block;
    padding-left: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.1px;
    color: #48555B;
    text-decoration: none;
  }
  .nav_container div:last-child a:hover {
    color: #00A4E5;
    text-decoration: underline;
  }
  .about_container {
    margin: 52px auto 110px;
  }
  .about_container h2 {
    text-align: center;
  }
  .span_line {
    display: block;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
  }
  .span_line_wide {
    background-color: #E5E5E5;
    width: 100%;
  }
  .span_line_mid {
    margin: 10px auto 55px;
  }
  .about_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about_main * {
    display: inline-block;
  }
  .about_main div:first-child {
    max-width: 470px;
  }
  .about_main div:first-child b {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.17px;
    color: #48555B;
    padding-right: 14%;
    padding-bottom: 30px;
  }
  .about_main div:first-child b span {
    color: #16ACE8;
  }
  .about_main div:first-child p {
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.17px;
    color: #48555B;
    padding-right: 12%;
    margin: 0;
  }
  .about_main div:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
  }
  .about_main div:last-child span {
    background-color: #979797;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    width: 140px;
    height: 224px;
    padding-left: 14px;
    padding-top: 14px;
    color: white;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
  }
  .about_main div:last-child span:nth-child(1) {
    background-image: url(../img/we_plan.png);
  }
  .about_main div:last-child span:nth-child(2) {
    background-image: url(../img/we_manage.png);
  }
  .about_main div:last-child span:nth-child(3) {
    background-image: url(../img/we_build.png);
  }
  .about_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about_main * {
    display: inline-block;
  }
  .about_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about_main div:first-child {
    max-width: 49%;
  }
  .about_main div:first-child b {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.17px;
    color: #48555B;
    padding-right: 14%;
    padding-bottom: 30px;
  }
  .about_main div:first-child b span {
    color: #16ACE8;
  }
  .about_main div:first-child p {
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.17px;
    color: #48555B;
    padding-right: 12%;
    margin: 0;
  }
  .about_main div:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 20px;
    max-width: 49%;
  }
  .about_main div:last-child span {
    background-color: #979797;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    width: 140px;
    height: 224px;
    padding-left: 14px;
    padding-top: 14px;
    color: white;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
  }
  .about_main div:last-child span:nth-child(1) {
    background-image: url(../img/we_plan.png);
  }
  .about_main div:last-child span:nth-child(2) {
    background-image: url(../img/we_manage.png);
  }
  .about_main div:last-child span:nth-child(3) {
    background-image: url(../img/we_build.png);
  }
  .services_container {
    margin-bottom: 12px;
  }
  .services_main {
    display: flex;
    justify-content: space-between;
  }
  .services_main * {
    margin: 0;
    padding: 0;
  }
  .services_main {
    margin-bottom: 80px;
  }
  .services_main div {
    box-sizing: border-box;
    min-width: 22%;
    margin-right: 15%;
  }
  .services_main div h2 {
    margin-bottom: 7px;
  }
  .services_main p {
    display: block;
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B;
  }
  .services_sub {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .services_sub div {
    border: 1px solid #E6E6E6;
    max-width: 26%;
    padding: 39px 22px;
    margin: 5px 5px;
    overflow: visible;
  }
  .services_sub div img {
    display: block;
    width: 70px;
    height: 75px;
    margin-bottom: 25px;
  }
  .services_sub div b {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #48555B;
    margin-bottom: 10px;
  }
  .services_sub div span {
    display: block;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.18px;
    color: #48555B;
  }
  .git_container {
    min-height: 497px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #48555B;
  }
  .git_container strong {
    display: block;
    padding-top: 30px;
  }
  .git_container a {
    display: inline-flex;
    text-align: center;
    margin-top: 35px;
  }
  .newsletter_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: #171819;
  }
  .newsletter_container b {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.84px;
    color: #FFFFFF;
    margin-right: 70px;
  }
  .newsletter_container form {
    display: flex;
    flex-wrap: wrap;
  }
  .newsletter_container form [name=email] {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #979797;
    height: 40px;
    width: 250px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.07px;
    color: #48555B;
    padding-left: 10px;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #141A20;
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.85px;
    color: #FFFFFF;
    padding: 45px 0;
  }
  footer div * {
    display: block;
  }
  .footer_company {
    box-sizing: border-box;
    max-width: 250px;
    margin-bottom: 20px;
  }
  .footer_company img {
    margin: 20px 0 15px;
  }
  .footer_links {
    margin-left: 10px;
  }
  .footer_columns {
    display: flex;
    max-width: 262px;
    margin-top: 11px;
  }
  .footer_columns div {
    width: 88px;
  }
  .footer_columns div a {
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
    color: #FFFFFF;
  }
  .footer_columns div a:hover {
    color: #00A4E5;
    text-decoration: underline;
  }
  .footer_contact {
    margin-left: 58px;
    margin-right: 46px;
  }
  .footer_social {
    display: flex;
    gap: 25px;
    margin-top: 36px;
  }
  .footer_social a {
    display: block;
    width: 13px;
    height: 13px;
  }
  .footer_social a:nth-child(1) {
    background-image: url(../img/fb_w.png);
  }
  .footer_social a:nth-child(1):hover {
    background-image: url(../img/fb_b.png);
  }
  .footer_social a:nth-child(2) {
    background-image: url(../img/twit_w.png);
  }
  .footer_social a:nth-child(2):hover {
    background-image: url(../img/twit_b.png);
  }
  .footer_social a:nth-child(3) {
    background-image: url(../img/google_w.png);
  }
  .footer_social a:nth-child(3):hover {
    background-image: url(../img/google_b.png);
  }
  .footer_crt {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171819;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    height: 60px;
  }
}
@media (max-width: 480px) {
  .nav_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav_container img {
    box-sizing: border-box;
    text-align: center;
    height: 40px;
    max-width: 100%;
  }
  .nav_container div:first-child {
    display: inline-block;
    text-align: center;
    padding-top: 8px;
  }
  .nav_container div:last-child {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .nav_container div:last-child a {
    box-sizing: border-box;
    padding-top: 5px;
    margin: 1px;
    font: 600 20px 'Open Sans', sans-serif;
    letter-spacing: 1.4px;
    color: #48555B;
    text-decoration: none;
    height: 40px;
    background-color: #e5e5e5ed;
    border: 1px solid #e5e5e5ed;
  }
  .nav_container div:last-child a:hover {
    color: #00A4E5;
    text-decoration: underline;
  }
  .about_container {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
  }
  .about_container h2 {
    text-align: center;
  }
  .span_line {
    display: block;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
  }
  .span_line_wide {
    background-color: #E5E5E5;
    width: 100%;
  }
  .span_line_mid {
    margin: 10px auto 10px;
  }
  .about_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .about_main * {
    display: inline-block;
  }
  .about_main div:first-child {
    max-width: 470px;
    text-align: center;
  }
  .about_main div:first-child b {
    font: bold 20px/27px 'Open Sans', sans-serif;
    letter-spacing: 0.17px;
    color: #48555B;
    margin: 10px;
  }
  .about_main div:first-child b span {
    color: #16ACE8;
  }
  .about_main div:first-child p {
    font: normal 15px/23px 'Open Sans', sans-serif;
    letter-spacing: 0.17px;
    color: #48555B;
    margin: 10px;
  }
  .about_main div:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .about_main div:last-child span {
    background: #979797 no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width: 140px;
    height: 224px;
    padding: 14px 0 0 14px;
    margin: 2.5px 5px;
    color: white;
    font: 800 24px/29px 'Open Sans', sans-serif;
    letter-spacing: 0.1875px;
  }
  .about_main div:last-child span:nth-child(1) {
    background-image: url(../img/we_plan.png);
  }
  .about_main div:last-child span:nth-child(2) {
    background-image: url(../img/we_manage.png);
  }
  .about_main div:last-child span:nth-child(3) {
    background-image: url(../img/we_build.png);
  }
  .services_container {
    border-bottom: 1px solid #E5E5E5;
  }
  .services_main {
    margin-bottom: 20px;
    text-align: center;
  }
  .services_main span {
    display: flex;
    margin: 10px auto 10px;
  }
  .services_main div {
    box-sizing: border-box;
    min-width: 22%;
  }
  .services_main div h2 {
    text-align: center;
    margin-bottom: 7px;
  }
  .services_main p {
    font: normal 15px/23px 'Open Sans', sans-serif;
    letter-spacing: 0.17px;
    color: #48555B;
    margin: 10px;
  }
  .services_main a {
    display: flex;
    margin: 10px auto 10px;
  }
  .services_sub {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5px;
  }
  .services_sub div {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #E6E6E6;
    padding: 5px 5px;
    margin: 2.5px 5px;
  }
  .services_sub div img {
    display: block;
    width: 70px;
    height: 75px;
  }
  .services_sub div b {
    display: inline;
    box-sizing: border-box;
    font: bold 16px/24px 'Open Sans', sans-serif;
    letter-spacing: 0.4px;
    color: #48555B;
    margin-bottom: 10px;
    margin: 10px 20px;
    max-width: 70%;
  }
  .services_sub div span {
    display: block;
    font-weight: normal 15px/23px 'Open Sans', sans-serif;
    letter-spacing: 0.18px;
    color: #48555B;
    margin: 5px;
  }
  .git_container {
    min-height: 300px;
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    font: bold 30px/36px 'Open Sans', sans-serif;
    letter-spacing: 0.15px;
    color: #48555B;
  }
  .git_container strong {
    display: block;
    padding-top: 30px;
  }
  .git_container a {
    display: inline-flex;
    text-align: center;
    margin-top: 35px;
  }
  .newsletter_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: #171819;
  }
  .newsletter_container b {
    font: bold 22px/30px 'Open Sans', sans-serif;
    letter-spacing: 0.84px;
    color: #FFFFFF;
  }
  .newsletter_container form {
    display: flex;
    margin: 5px;
    width: 100%;
  }
  .newsletter_container form [name=email] {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #979797;
    height: 40px;
    width: 100%;
    padding-left: 5px;
    min-width: 100px;
    font: normal 14px/19px 'Open Sans', sans-serif;
    letter-spacing: 0.07px;
    color: #48555B;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #141A20;
    font: normal 13px/19px 'Open Sans', sans-serif;
    letter-spacing: 0.85px;
    color: #FFFFFF;
    padding: 20px 10px;
  }
  footer div * {
    display: block;
  }
  .footer_company {
    box-sizing: border-box;
    max-width: 250px;
    margin-bottom: 20px;
  }
  .footer_company img {
    margin: 20px 0 15px;
  }
  .footer_columns {
    display: flex;
    justify-content: left;
    max-width: 262px;
    margin-top: 11px;
  }
  .footer_columns div {
    width: 88px;
  }
  .footer_columns div a {
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
    color: #FFFFFF;
  }
  .footer_columns div a:hover {
    color: #00A4E5;
    text-decoration: underline;
  }
  .footer_contact {
    margin-top: 20px;
  }
  .footer_social {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 36px;
  }
  .footer_social a {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .footer_social a:nth-child(1) {
    background-image: url(../img/fb_w.png);
  }
  .footer_social a:nth-child(1):hover {
    background-image: url(../img/fb_b.png);
  }
  .footer_social a:nth-child(2) {
    background-image: url(../img/twit_w.png);
  }
  .footer_social a:nth-child(2):hover {
    background-image: url(../img/twit_b.png);
  }
  .footer_social a:nth-child(3) {
    background-image: url(../img/google_w.png);
  }
  .footer_social a:nth-child(3):hover {
    background-image: url(../img/google_b.png);
  }
  .footer_crt {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171819;
    font: normal 11px/15px 'Open Sans', sans-serif;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    height: 60px;
  }
}
